  
    body {
        background: #e20202;
    }    
    p {
        position: relative;
        margin-left: 180px;
    }   
    
    .btn.click {
        left: 20px;
    } 
 
  
    
    .sidebar.show {
        left: 1px; }  
    
    
    
    nav ul.feat-show.show {
        display: block; }
    
   
 
  
        
    nav ul ul {
        position: static;
        display: none;
    }

   

       
  
     
         
    
    .btn {
        position: fixed;
        padding-top: 3%;
     border: solid 15px rgb(245, 9, 9);
     border-radius: 20%;
        top: 2px;
        left: 45px;
        height: 50px;
        width: 70px;
        text-align: center;
        background: #070000;
     
        cursor: pointer;
        transition: left 0.4s ease ;
    }
    
 
    
       
    .sidebar.show {
        left: 1px;
    }
    
    .sidebar.text {
        font-size: 20px;
        font-weight: 600;
        position: absolute;
    }
   
    

    
   
    nav ul.feat-show.show {
        display: block;
    }
    
    nav ul.serv-show.show1 {
        display: block;
    }
 
    
   
    
    nav ul ul {
        position: static;
        display: none;
    }
    
    nav ul .feat-show.show {
        display: block;
    }
    
           
    
    nav ul li a span {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        transition: trasform 0.4s;
    }
    
    nav ul ul li a:hover span {
        transform: translateY(-50%) rotate(-180deg);
    }
    
    nav ul li a span.rotate {
        transform: translateY(show);
    }
     
  
    
    section {
        margin-left: 25;
    }
    
    h6  {
        align-content: center;
        transition: all;
        border-radius: 2px 0px 2px;
        transition: all 3ms;
        padding: 130px;

    }
    /*sintaxis para las clases en css es con punto (.)*/
    
    .home-wrapper {
        background-image: url("images/claro4.jpg");
        right: 200%;
        height: 50%;
        width: 50%;
     
        top: auto;
        background-size: cover;
        margin-left: 2pxS;
        margin-right: 0px
        ;

        padding-bottom: 7px;
        margin-bottom: 7px;
        margin-top: 150px;
        width: 100%;
        border: solid 10px rgb(248, 210, 218);
        border-radius: 25%;

    }
    
    .container {
        width: 250px;
        left: 10%;
        margin-left: 5%;
        padding-left: 1px;
        padding: 5px 0 5px;
        border-radius: 250px;
        box-sizing: content-box;
        border-bottom-left-radius: 12px 0 12px;
        border: rgb(241, 235, 235);
        padding: 1px 0;
        margin-top: 15px;
    }
   h4{ 
text-align: center;}

li{
    background-color: #ac0909;
}



    
    #home {
        text-align: center;
        padding: 50px 0 150px;
        margin-left: 20%;
    }
    
    header {
        position: absolute;
    }
    
    .btn.click {
        left: 260px;
    }
    
    .btn span {
        color: rgb(247, 245, 245);
        font-size: 28px;
        line-height: 20px;
    }
    
  
    
    .sidebar {
        position: fixed;
        width: 250px;
        height: 10%;
        left: -250px;
        background: #020100;
        transition: left 0.4s;
        border: solid 7px red;
        border-radius:20%;
    }
    
    .sidebar.text {
        color: rgb(12, 12, 12);
        font-size: 25px;
        font-weight: 600;
    }
    
    nav ul {
        background: #1b1b1b;
        height: 100px;
        width: 100px;
        list-style: none;
    }
    
    nav ul li {
        line-height: 60px;
        border-bottom: 1px solid rgba(79, 109, 240, 0.1);
    }
    
    nav ul li :last-child {
        border-bottom: 1px solid rgb(241, 45, 45);
    }
    
    nav ul.feat-show.show {
        display: block;
        text-align: center;
        background-color: #000;
        border: solid 5px black;
    }
    
    nav ul.serv-show.show1 {
        display: block;
    }
    

    
    nav ul li a {
        position: relative;
        color: rgb(15, 1, 1);
        text-decoration: none;
        font-size: 18px;
        padding-left: 18px;
        font-weight: 500;
        display: block;
        width: 100%;
        border-left: 3px solid transparent;
    }
    

    
    nav ul li a:hover {
        color: rgb(236, 228, 226);
        background: #ac0909;
        border-left-color: red(236, 230, 226);
        position: relative;
    }
    
    nav ul ul {
        position: static;
        display: none;
    }
    
    nav ul .feat-show.show {
        display: block;
    }
    
    nav ul ul li {
        line-height: 42px;
        border-bottom: none;
        color: rgb(241, 25, 9)
    }
    
    nav ul ul li a {
        font-size: 17px;
        color: #e6e6e6;
        padding-left: 80px;
        font-size: 22px;
    }
    
    nav ul li.active ul li a {
        color: #cc1414;
        background: #1b1b1b;
        border-left-color: transparent;
    }
    
    nav ul ul li a:hover {
        color: rgb(233, 241, 241);
        background: #c90d0d;
        border-left-color: transparent;
    }
    
    nav ul li a span {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        transition: trasform 0.4s;
    }
    
    nav ul ul li a:hover span {
        transform: translateY(-50%) rotate(-180deg);
    }
    
    nav ul li a span.rotate {
        transform: translateY(show);
    }
    
 
    
    .social a {
        color: rgb(223, 226, 242);
        display: inline-block;
        background-color: #ba2520;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 24px;
        font-weight: bold;
        margin-right: 60px;
        line-height: 30px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
        padding: 12px;
        margin-left: 100px;
        margin-bottom: 15px;
        margin-left: 50%;
    }
    
    .social a:hover {
        background-color: #eae5eb;
    }
    /*secciones*/
    
    section {
        padding: 100%;
    }
    
   
    
   
    
 
  
    /*servicios*/
    
    #servicios .box {
        display: inline-block;
        padding-bottom: 10%;
        padding-left: 7%;
        border-radius: 25px;
        border: solid 7px #000000;
        top: 5px;
        box-sizing: content-box;
        /* float: none; */
        margin: 12px;
        width: 110%;
        left: 30px;
        height: 33%;
        bottom: 1px;
        overflow: hidden;
        background-color: #f1f0f3;
        text-align: center;
    }
   
    
    
    

    
   
    /*Portafolio*/
    
    .btn-wsp {
        position: fixed;
        width: 60px;
        height: 60px;
        line-height: 63px;
        bottom: 30px;
        right: 75%;
        background: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 35px;
        box-shadow: 0px 1px 10px rgba(241, 142, 142, 0.3);
        z-index: 100;
        transition: all 300ms ease;
    }
    
    .btn-wsp:hover {
        background: #75c493;
    }
    
    @media only screen and (min-width:320px) and (max-width:768px) {
        .btn-wsp {
            width: 63px;
            height: 63px;
            line-height: 66px;
        }
        footer {
            width: 200%;
            background-color: #74f0f0;
            text-align: center;
            color: #be5c5c;
            font-size: 16px;
            padding: 10px 0;
        }
    }
   
   
    #portafolio .box h3 {
        text-align: center;
        margin-top: 10px;
    }
    
 
    
    
    
    .suggestionContainer-DS-EntryPoint1-2 input {
        appearance: none;
        outline: none;
        background: transparent;
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        padding: calc(var(--design-unit) * 2px + 2px) 12px calc(var(--design-unit) * 2px + 2px) 12px;
        color: var(--neutral-foreground-rest);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        z-index: 1;
        font-family: inherit;
        flex: 1 1 0%;
        padding-inline-start: 16px;
    }
    
   
    footer {
        text-align: center;
        margin-left: 10%;
    }
    
   
    
    a {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
        border: solid;
        margin-left: 50%;
    }
    
    .directo {
        padding-left: 17px;
    }
   
    
    .cover {
        background-color: #e2e6ee;
        margin-left: 20%;
      border-radius: 20%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 3px black;
    }
    
    .text {
        color: rgb(233, 220, 233);
        margin-left: 37%;
        margin-top: 10%;
        border-radius: 20%;
    }
    
   
    
    button {
        background-color: #f2eff7;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(224, 175, 175, 0.2);
        color: #070707;
        font-size: 14px;
        padding: 10px 25px;
        position: relative;
        margin-left: 25%;
    }
    
   
    
    .show {
        pointer-events: auto;
        opacity: 1;
    }
    
    .modal {
        background-color: #fff;
        width: 600px;
        max-width: 100%;
        padding: 30px 50px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(238, 4, 4, 0.2);
        text-align: center;
    }
    
  
    .modal p {
        opacity: 0.7;
        font-size: 14px;
    }
    
    .videos {
        margin-left: 10%;
       background-color: white;
        border: solid 5px rgb(14, 13, 13);
        width: 127%;
      
        
    }

   
   p{
    color: rgb(18, 20, 18);
    margin-left: 50%;
   }
    
  
    .container{
        margin-left: 50%;
        width: 60%;
        padding-left: 5%;
        margin-left: 10%;
        margin-top: 1px;
    }
    .logo {
        margin-top: 50%; 

        
  
        margin-left: 250%;
        border-radius: 33%;
 
        margin-top: 1px;
        border-top: solid 7px rgb(130, 195, 238);
        border-right: solid 7px rgb(17, 5, 17);
        border-left: solid 7px rgb(168, 108, 168);
    }
   .triple{ 
    border: solid 3px white;
  
    margin-left: 20px;
margin-right: 10%;
border-radius: 50%;
color: white;
background-color: #000;
text-align: center;}
h2{
    margin-left: 37%;
}
.feb{
    margin-left: 37%;
}
h2{
    background-color: white;
    padding-left: 19%;
    border: solid 3px black;
}


  

 
